<mat-spinner class="col-12 text-center" *ngIf="isQuerying || isLoading"></mat-spinner>

<div class="col-12 text-center" *ngIf="!isLoading">
  <mat-form-field class="col-5">
    <mat-label>Select Location</mat-label>
    <mat-select [(value)]="globals.current_organization.id" (selectionChange)="changeSchool(globals.current_organization.id)">
      <mat-option *ngFor="let school of schools" [value]="school.id">
        {{school.name}}
      </mat-option>
    </mat-select>
    <mat-hint>This controls the context in which you see the application.</mat-hint>
  </mat-form-field>
</div>